/.idea
/.vscode
/topside/__pycache__
topside/config/__pycache__
topside/hardware/__pycache__
topside/rovs/__pycache__
topside/rovs/spike/__pycache__
topside/rovs/spike/control_modes/__pycache__
topside/rovs/spike_6m/__pycache__
topside/rovs/spike_6m/control_modes/__pycache__
topside/rovs/cali/__pycache__
topside/utilities/__pycache__
topside/utilities/math_help/__pycache__
topside/io_systems/__pycache__
topside/rovs/generic_objects/__pycache__
